.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.table_custom{
  position:absolute;
  top: 29px;
  left:253px;
  width:81%!important;
}
.icon{
  cursor: pointer;
}
.selected{
  background-color: #dddddd !important;
}
.text{
  width:90%;
  align-self: center;
  border-radius: 8px;
  border:1px solid #dddddd;
  height:20px;
  padding:10px;
}
.form-group{
  text-align:center;
}
.form_custom{
  position:absolute;
  top: 174px;
  left:253px;
  width:auto;
}
.chaeck_box{
  position: absolute;
  top: 225px;
  right:400px;
}
.select_full_width{
  width:100%;
}
.fullWidth{
  width:100%;
}
.hight{
  max-height: 100px;
}
.caseButton{
  border-bottom: 1px solid #222222;
  margin-bottom: 31px;
  position: absolute;
  right: 4px;
  top: -86px;
  width:100%;
}
.button-case{
  float: right;
}
/*Css Edit*/
.MuiToolbar-root-45,.MiniDrawer-toolbar-8 {
  min-height: 55px!important;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.MuiSvgIcon-root-56 {
  width: 20px!important;
}
.MuiListItemIcon-root-123 {
  margin-right: 11px!important;
}
.MuiTypography-subheading-77 {
  font-size: 14px!important;
  font-weight: 600!important;
  color: #4c4c4c!important;
}
.MuiTableSortLabel-root-170 {
  color: #000!important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  flex-direction: initial!important;
}
.MuiTableCell-numeric-157 {
  text-align: left!important;
}
.MuiTableBody-root-175 tr td:nth-child(4) {
  color: #b1b1b1;
}
.icon a {
  margin-right: 20px;
}
.icon .MuiSvgIcon-root-56 {
  color: #7f7f7f;
}
.EnhancedTableToolbar-root-133 {
  display: none!important;
}
.EnhancedTable-root-130 {
  margin-top: 30px!important;
}
.MuiCheckbox-colorSecondary-165.MuiCheckbox-checked-162 {
  color: #7f7f7f!important; 
}
.MuiButton-containedPrimary-145 {
  background-color: #3889d3!important;
}
.text {
  height: 38px;
  background: url(./images/search.png) no-repeat 95% 10px;
}
.caseButton {
  border-bottom: 1px solid #d4d4d4!important;
}
.MuiInput-underline-177:before,.MuiInput-underline-161:before {
  display: none;
}
label + .MuiInput-formControl-174,label + .MuiInput-formControl-158 {
    margin-top: 16px;
    border: 1px solid #cacaca!important;
    border-radius: 5px!important;
    
}
.MuiInputLabel-formControl-164,.MuiInputLabel-animated-146 {
  position: relative!important;
    margin-bottom: -10px!important;
}
.MuiFormLabel-root-142 {
  font-size: 18px!important;
  font-weight: 400!important;
}
.MuiSelect-root-189 svg,.MuiSelect-root-152 svg {
  display: none!important;
}
.MuiSelect-selectMenu-191:after,.MuiSelect-selectMenu-154:after {
  content: '';
  width: 30px;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  background: #3889d3 url(./images/down-arrow.png) no-repeat center;
  border-radius: 0px 5px 5px 0;
}
.MuiSelect-selectMenu-191 {
  position: relative;
}
.MuiInput-input-181:after {
  /*display: none;*/
}
.MuiInput-underline-177:after,.MuiInput-underline-156:after {
  border-bottom: none!important;
}
.InputAdornments-root-130,.InputAdornments-root-109 {
  width: 80%;
}
.chaeck_box {
  width: 188px;
  right: auto!important;
  border: 1px solid #d6d1d1;
  top: 0px!important;
  border-radius: 5px;
  position: relative;
  float: right;
 margin-right: 30px;
}
.chaeck_box .MuiFormControlLabel-root-198 {
  margin-left: 0!important;
}
.client_add_box{
  color: #3889d3;
  height: 71px !important;
  position: absolute;
  right: -29px;
  top: 8px;
  width: 38px !important;
} 
.ref_add_box{
  color: #3889d3;
  height: 71px !important;
  position: absolute;
  right: -29px;
  top: 8px;
  width: 38px !important; 
}
.save_clear .MuiSvgIcon-root-56{
  border:1px solid;
  border-radius: 50%;
  float: right;
}
.mailContent{
  margin:20px;
}
.status-box{
  width: 100%;
}
.checkbox-box {
  width: 100%;
  display: block;
}
.checkbox-box .MuiSelect-selectMenu-191 {
  width: 159px;
}
.save_clear .MuiSvgIcon-root-56 {
  height: auto;
}
.save_clear {
  margin-top: 15px;
  float: right;
  cursor:pointer;
}
.InputAdornments-textField-112 {
  width: 98%;
}
.error_leable{
  color: red !important;
}
.MuiFormControl-root-159{
  margin:5px !important;
}
.placeholder{
  position: absolute;
  left:8px;
  color: #a2a2a2;
}